<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Cambio de Contraseña</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .header {
            padding: 20px;
            text-align: center;
        }
        .header img {
            max-width: 150px;
        }
        .content {
            padding: 20px;
        }
        .code {
            font-size: 24px;
            font-weight: bold;
            color: #e74c3c;
            padding: 10px 20px;
            background-color: #f9eaea;
            border-radius: 4px;
            display: inline-block;
            margin: 20px 0;
            text-align: center;
        }
        .content h2 {
            color: #333333;
        }
        .content p {
            color: #555555;
            line-height: 1.5;
        }
        .footer {
            padding: 20px;
            text-align: center;
            color: #777777;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <table class="container" cellpadding="0" cellspacing="0" width="100%" role="presentation">
        <tr>
            <td class="header">
                <img src="https://www.gooway.co/wp-content/uploads/2024/11/cropped-logo-gooway-150-x-150-px.png" alt="Logo">
            </td>
        </tr>
        <tr>
            <td class="content">
                <h2>Verificación de cambio de contraseña</h2>
                <p>Hola {{name}},</p>
                <p>Para completar el cambio de tu contraseña, por favor utiliza el siguiente código de verificación:</p>           
                <div class="code">{{Numero}}</div>
                <p>Este código es válido por 5 minutos. Si no solicitaste este cambio, por favor ignora este correo electrónico.</p>
                <p>Si no solicitaste este cambio, ignora este mensaje o <a href="mailto:soporte@gooway.co">contacta a nuestro equipo de soporte</a>.</p>

            </td>
        </tr>
        <tr>
            <td class="footer">
                <p>&copy; 2024 Gooway. Todos los derechos reservados.</p>
            </td>
        </tr>
    </table>
</body>
</html>
